@page
@model SharpSeer.Pages.Exams.CreateModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Navn
            </th>
            <th scope="col">
                Eksamens type
            </th>
            <th scope="col">
                Med vagt
            </th>
            <th scope="col">
                Ekstern censor
            </th>
            <th scope="col">
				Eksamens start
            </th>
            <th scope="col">
                Eksamens Slut
            </th>
            <th scope="col">
                Deadline for aflevering
            </th>
            <th scope="col">
                Eksmaens varighed
            </th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="SubmitForm" asp-controller="Home" method="post">
        <tr>
            <td>
                <input asp-for="Exam.Name" class="form-control" />
            </td>
            <td>
                <input asp-for="Exam.ExamType" class="form-control" />
            </td>
            <td>
                <input type="checkbox" asp-for="Exam.IsGuarded" />
            </td>
            <td>
                <input type="checkbox" asp-for="Exam.NeedExternalExaminer" />
            </td>
            <td>
                <input asp-for="Exam.FirstExamDate" class="form-control" />
            </td>
            <td>
                <input asp-for="Exam.LastExamDate" class="form-control" />
            </td>
            <td>
                <input asp-for="Exam.HandInDeadline" class="form-control" />
            </td>
            <td>
                <input asp-for="Exam.DurationInMinutes" class="form-control" />
            </td>
            <td>
                <button class="btn btn-primary" type="submit">Opret</button>
            </td>
            <td>
                <button asp-page="" class="btn btn-secondary">Annuller</button>
            </td>
        </tr>
        </form>
</table>