html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body 
{
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.modal
{
  position: fixed;
  background: rgba(55,55,55,.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.noScroll
{
  overflow: hidden;
}

.home-background {
    background-image: url('/Images/SharpSeerHomePage.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #fffce7;
}
.home {
    position: relative;
    margin-left: 500px; 
    margin-top: 80px; 
    max-width: 700px;
}

    .home h1 {
        font-size: 52px; 
        font-weight: 300;
        margin-bottom: 20px;
    }

    .home p {
        font-size: 22px; 
        line-height: 1.6;
        margin-bottom: 15px;
    }
    .background{
                background-color: #fffce7;
    }
   