@page
@model SharpSeer.Pages.Cohort_PageModel
@{
}
<h1>Cohort Page</h1>
<table class ="table">
	<thead>
		<tr>
			<th scope="col">
				Navn
			</th>
			<th scope="col">
				Retning
			</th>
			<th scope="col">
				Semester
			</th>
			<th scope="col">

			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cohort in Model.Cohorts)
		{
			<tr>
				<td>
					@cohort.Name
				</td>
				<td>
					@cohort.Major
				</td>
				<td>
					@cohort.Term
				</td>
			</tr>
		}
	</tbody>
</table> 
