@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="home">
    <h1><strong>Der findes intet mere værdifuldt end din tid</strong></h1>
    <p>
        Med <strong>Sharp Seer</strong> kan du nemt og hurtigt skabe overblik over kommende eksamener
        for både dine kollegaer og de studerende.
    </p>
    <p>
        Eksamensperioder er ofte stressende, og netop derfor er det vigtigt, at planlægningen er fejlfri.
        Sharp Seer hjælper dig med at strukturere, visualisere og koordinere alle prøver, så alle kan møde
        velforberedte og uden bekymringer.
    </p>
    <p>
        Uanset om du er underviser, hold eller administrator, er Sharp Seer designet til at gøre din
        eksamensplanlægning så enkel som muligt. Vores brugervenlige grænseflade og kraftfulde funktioner
		sikrer, at du altid har styr på dine eksamener.
    </p>
    <p>
        Vil du styre eksamner og blive tidens master? Tryk på knappen og log ind allerede nu!
    </p>
    <div class="calander-button">
        <a class="btn btn-primary btn-lg"  href="Calendar/CalendarView" role="button">Se kalender</a>
@* 		lav en knap til at logge ind
 *@</div>
<a href="Calendar/CalendarView">Calendar</a>
Bob

<body class="home-background"></body>
</section>