@page
@model SharpSeer.Pages.Cohorts.Cohort_PageModel
@{
}
<h1>Hold Oversigt</h1>

<a class="btn btn-primary" href="/Cohorts/Cohort_Page/?Create=0">Tilføj</a>

<form method="get" class="search-form">
	<table class="table table-search">
		<thead>
			<tr>
				<th><input type="text" class="form-control" asp-for="Name" placeholder="Navn" /></th>
				<th><input type="text" class="form-control" asp-for="Major" placeholder="Retning" /></th>
				<th><input type="number" min="0" max="5" class="form-control" asp-for="Term" placeholder="Semester" /></th>
			</th>
				<th>
					<button type="submit" class="btn btn-search">Søg</button>
				</th>
			</tr>
		</thead>
	</table>
</form>

<table class="table table-showup">
	<thead>
		<tr>
			<th scope="col" >
				Navn
			</th>
			<th scope="col">
				Retning
			</th>
			<th scope="col">
				Semester
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cohort in Model.Cohorts)
		{
			<tr>
				<td>@cohort.Name</td>
				<td>@cohort.Major</td>
				<td>@cohort.Term</td>
				<td><a href="/Cohorts/Cohort_Page/?Update=@cohort.Id" class="btn btn-primary">Opdater</a></td>
				<td><a href="/Cohorts/Cohort_Page/?Update=@cohort.Id" class="btn btn-danger">Slet</a></td>
			</tr>
		}
	</tbody>
</table>

<!-- Modal -->
@if (Model.ShowDelete)
{
	
	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Er du sikker på du vil slette dette hold?</h4>
					<a href="/Cohorts/Cohort_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					@Model.Cohort.Name
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<form method="post">
						<button type="submit" class="btn btn-danger">Ja</button>
					</form>
					<a href="/Cohorts/Cohort_Page" type="button" class="btn btn-primary">Nej</a>
				</div>
			</div>
		</div>
	</div>
}

@if (Model.ShowCreate)
{
	<style>
		.modal {
			background: rgba(55,55,55,.6);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
		}
	</style>
	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Tilføj nyt hold</h4>
					<a href="/Cohorts/Cohort_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
				<form asp-action="SubmitForm" asp-controller="Home" method="post">
					<div class="modal-body">
						<table class="table">
							<tbody>
								<tr>
									<th scope="col">
										Navn
									</th>
									<td>
										<input asp-for="Cohort.Name" class="form-control" required/>
									</td>
								</tr>
								<tr>
									<th scope="col">
										Retning
									</th>
									<td>
										<input asp-for="Cohort.Major" class="form-control" required/>
									</td>
								</tr>
								<tr>
									<th scope="col">
										Semester
									</th>
									<td>
										<input asp-for="Cohort.Term" class="form-control" required/>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">

						<button type="submit" class="btn btn-primary">Godkend</button>
						<a href="/Cohorts/Cohort_Page" type="button" class="btn btn-danger">Annuller</a>
					</div>
				</form>
			</div>
		</div>
	</div>
}

@if (Model.ShowUpdate)
{

	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Opdater hold</h4>
					<a href="/Cohorts/Cohort_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
				<form method="post">
					<div class="modal-body">
						<table class="table">
							<tbody>
								<tr>
									<th scope="col">
										Navn
									</th>
									<td>
										<input asp-for="Cohort.Name" class="form-control" />
									</td>
								</tr>
								<tr>
									<th scope="col">
										Retning
									</th>
									<td>
										<input asp-for="Cohort.Major" class="form-control" />
									</td>
								</tr>
								<tr>
									<th scope="col">
										Semester
									</th>
									<td>
										<input type="number" min="0" max="5" asp-for="Cohort.Term" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Opdater</button>
						<a href="/Cohorts/Cohort_Page" type="button" class="btn btn-danger">Annuller</a>
					</div>
				</form>
			</div>
		</div>
	</div>
}
<body class="background">
</body>






@section Scripts
{
	<script>
		$(document).ready(function () {
			$("#myModal").modal({backdrop: "static"});
			$("#myModal").modal("show");
		});)
	</script>
}