@page
@model SharpSeer.Pages.Cohorts.DeleteModel
@{
}

<h1>Slet Hold</h1>
<form method="post">
    <div class="alert alert-danger" role="alert">
        Er du sikker på, at du vil slette holdet "@Model.Cohort.Name"?
    </div>
    <button type="submit" class="btn btn-danger">Slet</button>
    <a asp-page="/Cohorts/Cohort_Page" class="btn btn-secondary">Annuller</a>
</form>
